/****** PRESETS ******/
@font-face{
    src: url(../fonts/Lato-Regular.ttf);
    font-family: lato;
}

:root{
    --bright-font-color: #333;
    --dim-font-color: #777;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 20px;
    font-family: lato, sans-serif;
}

h2{
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 3px;
    margin: .5em 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.icon{
    max-width: 3em;
    margin-bottom: 1em;
    max-height: 3em;
}

.text{
    letter-spacing: 1px;
    color: var(--dim-font-color);
}

/* flex-presets */
.flex-horisontal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-vertical{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/****** HEADER ******/
header {
    min-height: 100vh;

    background-image: url(../img/header/header-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav{
    color: var(--bright-font-color);
    font-weight: bold;
    letter-spacing: 3px;
}
nav ul li{
    padding: 1em;
    margin: 0 1em;
    position: relative;
    cursor: pointer;
}
nav ul li::before{
    content: " ";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 10%;
    transition: width 300ms;
}
nav ul li:hover::before{
    width: 100%;
    border: 1px solid var(--bright-font-color);
}
nav ul li:nth-child(3)::before{
    display: none;
}
nav img{
    width: 5em;
    height: auto;
}


/****** MAIN ******/
/* about */
#about{
    padding: 7em 0;
}
#about p{
    width: 70%;
    margin-top: 1em;
    text-align: center;
    color: var(--dim-font-color);
}


/* work */
.work-aspect{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.work-aspect img:not(.icon){
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.work-aspect .horisontal-img{
    grid-column: span 4;
}
.work-aspect .vertical-img{
    grid-column: span 2;
}

.text-container{
    padding-top: 3em;
    grid-column: span 2;
}
.text-container .text{
    padding: 1em 3em 2em 3em;
}
.text-container hr{
    width: 20%;
    margin-bottom: 2em;
}
.text-container .square {
    width: 20px;
    height: 20px;

    background-color: #fff;
    transform: translateY(50%) rotate(45deg);
}
.text-container img:not(.icon){
  border: 3px solid red;
  height: auto;
}


/****** After MAIN ******/
/* twitter */
#twitter{
    width: 70%;
    margin: 0 auto;
    padding: 5em 0;
}
#twitter svg{
    max-width: 3em;
    fill: dodgerblue;
}
#twitter .title{
    margin: 2em;
    font-weight: bold;
}

.counter-points-wrapper{
    margin-top: 2em;
}
.counter-point{
    margin: 0 .2em;
    width: 12px;
    height: 12px;

    border: 2px solid var(--dim-font-color);
    border-radius: 50px;
}
.counter-point.active{
    background-color: var(--dim-font-color);
}


/* shop */
#shop .gallery{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#shop img{
    width: 100%;
    height: 100%;
}
#shop .vertical-img{
    grid-area: span 2 / span 1;
}
#shop .horisontal-img{
    grid-area: span 1 / span 2;
}

.shop-btn-wrapper{
    background-color: rgb(41, 48, 58);
    text-align: center;
}
.shop-btn{
    display: inline-block;
    padding: 1em 5em;
    margin: 3em auto;

    background-color: rgb(41, 48, 58);
    color: #fff;
    border: 1px solid;
    transition: background-color 150ms;
}
.shop-btn:hover{
    background-color: rgb(65, 76, 92);
}

/* contact */
#contact{
  padding: 5em 0;
}
#contact .text{
  font-style: italic;
  margin: 2em 0;
}
#contact form{
  width: 100%;
}
#contact input{
  font-size: 1rem;
  width: 25%;
  padding: .6em;
  font-style: italic;
}
#contact button{
  font-size: 1rem;
  margin-left: .5em;
  padding: .7em 1.5em;

  border: none;
  color: #fff;
  background-color: #3c9;
  cursor: pointer;
  transition: background-color 170ms;
}
#contact button:hover{
  background-color: #196;
}

/****** FOOTER ******/
footer{
  position: relative;
  font-size: .7rem;
  padding: 7em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: #fff9f9;
}
footer .socials-wrapper{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
footer svg{
  width: 2.2em;
  height: 2.2em;
  margin: 0 .3em;
}

footer a svg{
  transition: transform 200ms;
}
footer a svg:hover{
  transform: rotateZ(15deg);
}
footer a:first-child svg{
  fill: dodgerblue;
}
footer a:nth-child(2) svg{
  fill: #46b;
}
footer a:last-child svg{
  fill: red;
}

footer .btn-to-top{
  font-size: 1rem;
  font-style: italic;
}
footer .btn-to-top:hover{
  text-decoration: underline;
}
